In [10]:
import pandas as pd
import math, json
import numpy as np
import datetime

In [2]:
df = pd.read_csv("standard_nov21frl.csv", sep=';')

In [3]:
def correct_flag_and_title(x):
    if x[12] in ['wi', 'i']:
        x[12] = 'i'
    else:
        x[12] = 'a'
    try:
        if math.isnan(x[4]):
            x[4] = 'R.A.S'
    except:
        pass
    return x

In [4]:
df_copy = df.copy()
df_copy = df_copy.apply(correct_flag_and_title, axis=1)

In [5]:
def replace_values(x):
    if x[0] == 'F':
        x[0] = 'Femme'
    else:
        x[0] = 'Homme'
    if x[2] == 'i':
        x[2] = 'Inactif'
    else:
        x[2] = 'Actif'
    return x

In [6]:
df_copy['eff'] = 1
final_df = df_copy.groupby(['sex', 'title', 'flag'], as_index=False).agg({'eff': 'sum'})
final_df = final_df.apply(replace_values, axis=1)

      sex  title     flag     eff
0   Femme     CM    Actif      13
1   Femme     CM  Inactif       7
2   Femme     FM    Actif      30
3   Femme     FM  Inactif      11
4   Femme     GM    Actif      30
5   Femme     GM  Inactif       9
6   Femme     IM    Actif      98
7   Femme     IM  Inactif      27
8   Femme  R.A.S    Actif   13658
9   Femme  R.A.S  Inactif   22069
10  Femme    WCM    Actif     396
11  Femme    WCM  Inactif     386
12  Femme    WFM    Actif     719
13  Femme    WFM  Inactif    1062
14  Femme    WGM    Actif     186
15  Femme    WGM  Inactif     131
16  Femme     WH  Inactif       1
17  Femme    WIM    Actif     402
18  Femme    WIM  Inactif     439
19  Homme     CM    Actif    1146
20  Homme     CM  Inactif     783
21  Homme     FM    Actif    4462
22  Homme     FM  Inactif    3832
23  Homme     GM    Actif    1285
24  Homme     GM  Inactif     418
25  Homme     IM    Actif    2288
26  Homme     IM  Inactif    1503
27  Homme  R.A.S    Actif  131163
28  Homme  R.A.S  Inactif  186776
29  Homme    WCM    Actif       1
30  Homme    WCM  Inactif       1

In [8]:
final_data = {
    "name": "Joeurs",
    "children": []
}
for sex in final_df.sex.unique():
    sex_json = {"name": sex, "children":[]}
    tmp_sex_df = final_df[final_df.sex == sex]
    for title in tmp_sex_df.title.unique():
        title_json = {"name": title, "children":[]}
        tmp_title_df = tmp_sex_df[tmp_sex_df.title == title]
        for flag in tmp_title_df.flag.unique():
            flag_json = {"name": flag, 'value': tmp_title_df[tmp_title_df.flag == flag].eff.sum()}
            title_json["children"].append(flag_json)
        sex_json["children"].append(title_json)
    final_data["children"].append(sex_json)

In [11]:
def myconverter(obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        elif isinstance(obj, datetime.datetime):
            return obj.__str__()
with open('data.json', 'w') as outfile:
    json.dump(final_data, outfile, default=myconverter)